<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page{% endblock %}</title>
</head>
<body>

{% block content %}
<div class="container">
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <img id="ship" class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded rounded mx-auto d-block" alt="hero"
                 src="./static/ship.jpg">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Welcome to Merchant Navy Academy</h1>
                <p class="mb-8 leading-relaxed">Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing
                    tousled.
                    Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami snackwave
                    tilde chillwave ugh. Pour-over meditation PBR&amp;B pickled ennui celiac mlkshk freegan photo booth
                    af
                    fingerstache pitchfork.</p>
            </div>
        </div>
    </section>
    <p>
        {% for item in get_flashed_messages() %}
    <div class="badge bg-primary text-wrap" style="width: 50rem;">
        <p>{{item}}</p></div>
    {% endfor %}
    </p>
</div>
{% endblock %}
</body>
</html>