<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome{% endblock %}Welcome Page</title>
</head>
<body>
  {% block content %}
    <h2> Welcome to {{ username }}  Home Page,</h2>
    <p> Your role is {{ role }}</p>

    {% if role =='Teacher' %}
        <button type="button" class="btn btn-info"><a href="{{ url_for('course.add_course') }}"> Click to add course </a> </button>

        <button type="button" class="btn btn-info"><a href="{{ url_for('course.delete_course') }}"> Delete course </a> </button>

        <button type="button" class="btn btn-info"><a href="{{ url_for('course.view_course') }}"> Click to View All Course(T) </a> </button>
    {% else %}
        <button type="button" class="btn btn-info"><a href="{{ url_for('student.student_view_course') }}"> Click to View All Course </a> </button>
    {% endif %}

  {% endblock %}
</body>
</html>